.city {
  background-image: url(./images/businessman-using-mobile-smartphone-on-600w-1926515411.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  color: wheat;
  font-family: "Parisienne", cursive;
}
.intro {
  font-size: 4rem;
}
